 body{
 margin:0;   
}

#construction{
    margin-left:40%;
    margin-top:12%;   
}

.repair{
    width:24%;

    
    animation-name: rotate;
    animation-duration: 10s;
    animation-play-state: running;
    animation-iteration-count:infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .heading{
     font-size:2rem;
     line-height:1;
     color:#a80000;

     animation-duration: 8s;
     animation-name: slidein;
     animation-iteration-count:1;
     animation-direction: alternate;
   }
   
   @keyframes slidein {
     from {
       margin-left:100%;
       width:300%
     }
   
     to {
       margin-left:0%;
       width:100%;
     }
   }

   @media screen and ( max-width:650px){
    .heading{
        font-size: 1.5rem;
    }

    #construction{
        margin-left:35%;
        margin-top:35%;   
    }
.repair{
    position: relative;
    left: 10%;
}

   }
  


/* navbar */
/*

.nav-link{
 font-weight: bold;
 font-family:sans ;
 color:#000;
}

.nav-link:hover{
  text-decoration:underline;
  color: #000;

                                          */

}

/* Heading */
/*

.first-heading{
  margin-top:-32%;
  padding-left: 4%;
}

.image{
  width:100%;
  height:50%;
  opacity: .6;
  position: relative;
  z-index: -1;
}

.heading{
  font-size:5rem;
  font-family: sans;
  color: #000;
}

.paragraph1{
  font-size: 2rem;
  font-weight: bold;
  line-height: .5;
  font-family: sans;
  color: #000;
}

.button1, .button2{
  border:2px solid #000;
  font-weight: bold;
  padding:1%;
  margin-top: 3%;
  width:15%;                              */
  /* background-color:#00FFAB; */


/*
margin-bottom: 6%;
  border:-webkit-border-radius 8px;
  border:-moz-border-radius 8px;
  border:-0-border-radius 8px;
  border-radius:8px;

}

.button1{
  margin-right:2%;
}

.link{
  text-transform: uppercase;
  text-decoration:none;
  color: #3B44F6;
}

.link:hover{
  color:#990000;

}

.link2{
  display: flex;
  
}

.button1:hover, .button2:hover{
background-color: #37E2D5;

  border:-webkit-border-radius 0px;
  border:-moz-border-radius 0px;
  border:-0-border-radius 0px;
  border-radius:0px;
}

.chevron{
  width:4%;
  position: relative;
  top:15px;
  left:15%;
}
                                                             */
/* SERVICES */

/*

#services{
  padding:5%;
  margin-bottom:2.5%;
  margin-top: 4%;
}

h3{
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 3%;
  font-size: 2.5rem;
  text-align: center;
}

.service-item{
  border:1px solid #D0C9C0;
  text-align: center;
  padding-top: 3%;
  margin-bottom:7%;
  margin-top: 3%;
}


.service-item:hover{
  box-shadow: 1px 1px 30px 1px #73777B;
}

p{
  font-weight: bold;
  line-height: 1.5;
}

.extra{
  margin-top: 4%;
  padding-top:4%;
  
}

.para{
  font-size:1.2rem;
  width:70%;
  padding-left:2%;
}

.rwb{
  width:20%;
  position: relative;
  left:75%;
  bottom: 45%;

}                                */

/* project */

/*
#project{
  background: #C2DED1;
  padding: 2%;
  margin-top:-13%;
}

.project1{
  text-align: center;
}

.btn{
 margin:4%;
 background-color: #73777B;
 padding: 3%;
}

a{
  text-decoration: none;
  color: #fff;
  font-weight:bold;
}

.btn:hover{
 background-color: #C2DED1; 
 box-shadow:20px 20px 60px #000000,
 -20px -20px 60px #ffffff;
}

.pro{
  font-family: montserrat;
  padding-left: 2%;
}
                                   */



/* CERT */

/*
.ig{
  width:45%;
  padding-left: 2%;
  margin-top: 1%;
}

h4{
  font-size: 2.5rem;
  margin-bottom: 1%;
  text-transform: uppercase;
  margin:2% 0; 
  font-weight: bold;
}                                    */



/* contact me */

/*
#contact{
 margin-top: 4%;
}

label{
font-weight: bold;
font-family: montserrat;
color: #000;
font-size: 1.3rem;
margin-left: 2%;

}

.input1,
.input2{
  width: 90%;
  text-align: center;
  border: 2px solid #000;
  margin: 1%;
  margin-bottom: 4%;
  padding: 2%;
}

.input3{
  width: 60%;
  border: 2px solid #000;
  margin-left: 2%;
}

.third{
  padding-top:2%;
  font-family: montserrat;
  padding-bottom: 0;
}

form{
  background-color: #A5BECC;
  padding: 2%;
}

.last{
  margin-left:2%;
  width:10%;
  margin-top:1%;
  padding:.5%;
  font-weight: bold;
  background-color: #47B5FF;
}

.input1:hover,
.input2:hover,
.input3:hover{
  
  border:-webkit-border-radius 15px;
  border:-moz-border-radius 15px;
  border:-0-border-radius 15px;
  border-radius:15px;
}

.last:hover{
   background-color: #91C483;

  border:-webkit-border-radius 10px;
  border:-moz-border-radius 10px;
  border:-0-border-radius 10px;
  border-radius:10px;
}

.lastp{
  text-align:center; 
  font-size: 1.3rem; 
  color: #e70c0c;
}

.lastp:hover{
  font-family:sans-serif;
  color:#1d5807;
  text-transform: uppercase;
}

.footers{
  text-align: center;
}

.pic1{
  padding: 3%;
}

span{
  color:#990000
}



@media screen and (max-width:700px){
.heading{
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2%;
}

.paragraph1{
  font-size: 1.5rem;
  font-weight: bold;
  
}

.button1,
.button2{
  width: 40%;
}

.para{
 font-size:1rem ;
}

.rwb{
  width:32%;

}

.last{
  width:20%;
  margin-bottom: 2%;
}

h3{
  font-size:1.8rem;
}

h4{
  font-size: 1.8rem;
}

.first-heading{
padding-bottom:5%;
}


#project{
  padding-bottom:5%;
  margin-bottom:10%;
}

.text-center{
  margin-top: 8%;
}

.image{
  visibility: hidden;
}

#main{
  background-color: #34B3F1;
}

.chevron{
  margin-left:15%;
  padding-bottom: 3%;
}

}
                                */
